.headers{
    width: 100%;
    background-color: #f9b200;
    height: 3px;
    position: relative;
    top: 10px;
  }
  .headers1{
    width: 50%;
    background-color: #f9b200;
    height: 3px;
  }
  .header-text:hover{
    color: #ffdd87;
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
  }

img {
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1);
  }